@import "@/styles/breakpoints"
@import "@/styles/grid-fn"

.block
  position: relative

.image
  @media (min-width: $tab + 1)
    margin-left: mix(var(--offset))
    width: column-spans(var(--width))

  @media (max-width: $tab)
    margin-bottom: 8px

  img,
  video
    display: block
    width: 100%
    height: auto

.image_ratio
  position: relative

  &::before
    content: ''
    display: block
    width: 100%
    padding-top: var(--ratio)

  img
    position: absolute
    top: 0
    left: 0
    height: 100%
    object-fit: cover
  
.text
  @media (min-width: $tab + 1)
    position: absolute
    top: 0
    left: mix(var(--offset))
    width: column-spans(var(--width))

.text1
  @media (max-width: $tab)
    margin-bottom: 16px

.text2
  @media (max-width: $tab)
    margin-bottom: 32px
