@import "@/styles/breakpoints"
@import "@/styles/grid-fn"

.container
  min-height: 100vh
  padding-top: 8px

  color: rgba(#fff, 0.6)

  @media (max-width: $tab-sm)
    padding: 32px 0 24px

  a
    &,
    &:visited,
    &:active,
    &:focus
      color: #fff

  a
    opacity: 0.6
    transition: opacity 0.25s ease

    &:hover
      opacity: 1

// Text
.date
  --delay: 0.8s

  position: absolute
  left: var(--unit)
  top: calc(3.75vw * 4.5)
  transform: translateY(-50%)

  @media (max-width: $tab-sm)
    font-size: 18px
    width: 2.5em

    top: 100%
    transform: translateY(-100%)

.text_wrap
  position: relative
  margin-bottom: 160px

  @media (max-width: $tab) and (min-width: $tab-sm + 1)
    margin-bottom: 80px

  @media (max-width: $tab-sm)
    margin-bottom: 40px

.text
  padding: 0 var(--unit)

.text u 
  text-decoration: none
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: rgba(#fff, 0.6)

  &,
  &:visited,
  &:active,
  &:focus
    color: transparent

.text_mob
  @media (min-width: $tab-sm + 1)
    display: none

  p:nth-child(n + 3)
    padding-left: 80px

.text_desktop
  @media (max-width: $tab-sm)
    display: none

  p:nth-child(1)
    max-width: 22.9em

  p:not(:nth-child(1))
    padding-left: mix(1)

  p:nth-child(n + 3)
    padding-right: mix(1)

.text p
  letter-spacing: -0.04em
  line-height: 0.96
  font-size: 3.75vw

  @media (max-width: $tab-sm)
    font-size: 6.3vw

// Images
.images
  display: flex
  padding: 0 var(--unit) 0 calc(#{var(--unit)} + #{mix(1)})
  margin-bottom: gutters(1)

  @media (max-width: $tab-sm)
    padding: 0 var(--unit) 0 calc(#{var(--unit)} + 80px)
    flex-direction: column
    margin-bottom: 8px

  li:nth-child(1)
    width: columns(1)

    @media (max-width: $tab-sm)
      margin-bottom: 8px
      width: 100%

    .image::before
      padding-top: 180.2%

      @media (max-width: $tab-sm)
        padding-top: 152%

  li:nth-child(2)
    margin-left: gutters(1)
    width: column-spans(3)

    @media (max-width: $tab-sm)
      margin: 0
      width: 100%

    .image::before
      padding-top: 57.45%

      @media (max-width: $tab-sm)
        padding-top: 65.94%

.image
  width: 100%
  position: relative

  &::before
    content: ''
    display: block
    width: 100%

  img, video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

// Info
.info
  display: flex
  position: relative

  @media (min-width: $tab-sm + 1)
    padding-bottom: 48px
    align-items: flex-end

  @media (max-width: $tab-sm)
    flex-direction: column
    align-items: flex-start

.info_img
  position: relative

  @media (min-width: $tab-sm + 1)
    min-width: calc(#{var(--unit)} + #{column-spans(3)})
    width: calc(#{var(--unit)} + #{column-spans(3)})
    
  @media (max-width: $tab-sm)
    margin-bottom: 24px
    width: calc(100% - #{var(--unit)})

  &::before
    content: ''
    display: block
    width: 100%
    padding-top: 56.25%

  img, video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

// Contact
.contact
  @media (min-width: $tab-sm + 1)
    margin-left: auto

  @media (max-width: $tab-sm)
    margin: 0 0 24px var(--unit)

  @media (min-width: 1401px)
    min-width: column-spans(1)
    width: column-spans(1)

  @media (max-width: 1400px) and (min-width: $tab-sm + 1)
    margin-right: var(--unit)


// Credits
.credits
  z-index: 1

  @media (min-width: $tab-sm + 1)
    position: absolute
    bottom: 0
    left: calc(#{var(--unit)} + #{column-spans(3)})
    transform: translateX(-100%)

  @media (max-width: $tab-sm)
    margin: 0 var(--unit) 0 auto


// Social
.social
  padding-top: 24px

  @media (max-width: $tab-sm)
    font-size: 18px

.social a
  transition: .4s cubic-bezier(.25,.1,.25,1)
  &:hover
    opacity: 1
